.client-container {
    height: 100%;
    width: 100%;
    overflow: scroll;    
}

.client-container .form-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-container .form-container .heading h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #504E4E;
}

.client-container .form-container .heading button {
    width: 111.38px;
    height: 39.26px;
    background: #00C49A;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.client-container::-webkit-scrollbar {
    display: none;
}

.client-container .form-container .client-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 722px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
}

.client-container .form-container .client-form .logo-container {
    display: flex;
}


.client-container .form-container .client-form .add-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-left: 20px;
    width: 186px;
    height: 128px;
    border: 1px dashed #AAAAAA;
    border-radius: 12px;
}

.client-container .form-container .client-form .add-logo img {
    width: 34px;
    height: auto;
    margin-bottom: 7px;
}

.client-container .form-container .client-form .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-left: 49px;
    width: 186px;
    height: 128px;
    border-radius: 12px;
}

.client-container .form-container .client-form .logo img {
    width: 186px;
    height: 128px;
    border-radius: 12px;
}

.client-container .form-container .client-form .add-logo span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #837C7C;
}


.client-container .form-container .client-form .form {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.client-container .form-container .client-form .form2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.client-container .form-container .client-form .form2 textarea {
    margin-top: 12px;
    width: 550px;
    height: 182px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding: 30px;
    resize: none;
    font-size: 15px;
}

.client-container .form-container .client-form .form2 .input {
    display: flex;
    flex-direction: column;
}

.client-container .form-container .client-form .form2 .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.client-container .form-container .client-form .form2 .input input {
    margin-top: 9px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.client-container .form-container .client-form .form2 .gstn-container {
    display: flex;
    flex-direction: column;
}

.client-container .form-container .client-form .form .input {
    display: flex;
    flex-direction: column;
}

.client-container .form-container .client-form .form .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.client-container .form-container .client-form .form .input select {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/icons/expand_more.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.client-container .form-container .client-form .form .input input {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}


/* contact container */
.client-container .contact-container {
    margin-top: 37px;
    width: 93%;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
    margin-left: 67px;

}

.client-container .contact-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-container .contact-container .heading h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #504E4E;
    padding: 20px;
}

.client-container .contact-container .form {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.client-container .contact-container .input {
    display: flex;
    flex-direction: column;
}

.client-container .contact-container .form .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.client-container .contact-container .form .input input {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

.client-container .contact-container .button-container {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-bottom: 20px;
}

.client-container .contact-container button {
    margin-top: 16px;
    width: 111.38px;
    height: 39.26px;
    background: #00C49A;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 20px;
}

.client-container .contact-container .form2 {
    margin-top: 15px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
}

.client-container .contact-container .input {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.client-container .contact-container .form2 .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
    margin-bottom: 5px;
}

.client-container .contact-container .form2 .input input {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.client-container .contact-container .form2 .input select {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/icons/expand_more.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.client-container .contact-container .form2 .gender-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.client-container .contact-container .form2 .gender-buttons span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}


.client-container .contact-container .form2 .gender-buttons .buttons button {
    width: 78px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #888383;
}

.client-container .added-contact-container {
    margin-top: 30px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 67px;
}

.client-container .added-contact-container .contact-person-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 168px;
    height: 190px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.client-container .added-contact-container .contact-person-card .heading {
    display: flex;
    height: 30px;
    justify-content: flex-end;
}

.client-container .added-contact-container .contact-person-card .heading img {
    width: 30px;
    height: 30px;
}

.client-container .added-contact-container .contact-person-card img {
    width: 44px;
    height: 44px;
}

.client-container .added-contact-container .contact-person-card .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.client-container .added-contact-container .contact-person-card span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #9A9FA5;
}


input[type=date]::-webkit-datetime-edit {
    color: #757575;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}