.add-order-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.add-order-container h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    color: #504E4E;
}


.add-order-container .form-container {
    width: 100%;
    height: auto;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
    background-color: #FFFFFF;
}


.add-order-container .form-container .add-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-left: 49px;
    width: 186px;
    height: 128px;
    border: 1px dashed #AAAAAA;
    border-radius: 12px;
}

.add-order-container .form-container .add-logo img {
    width: 34px;
    height: 34px;
    margin-bottom: 7px;
}

.add-order-container .form-container .add-logo span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.add-order-container .form-container .form {
    padding: 0px 24px;
    padding-bottom: 24px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.add-order-container .form-container .form .input {
    display: flex;
    flex-direction: column;
}

.add-order-container .form-container .form .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.add-order-container .form-container .form .input select {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/icons/expand_more.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.add-order-container .form-container .form .input input {
    margin-top: 12px;
    width: 100%;
    height: 50px;
    border: 1.2px solid #DDDDDD;
    border-radius: 6px;
    padding: 0px 10px;
}

.add-order-container .form-container .buttons-container {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    margin-bottom: 24px;
}

.add-order-container .form-container .buttons-container button:nth-child(1) {
    width: 100px;
    height: 35px;
    background: #FF6812;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-order-container .form-container .buttons-container button:nth-child(2) {
    width: 100px;
    height: 35px;
    background: #00C49A;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 24px;
}




/* hide scroll bars */
.add-order-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.add-order-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}


/* package list container */
.list-package {
    display: flex;
    flex-direction: column;
    background: #FCFCFC;
    margin-top: 24px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    overflow: auto;
}

.list-package .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
}

.list-package .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.list-package .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}



.list-package .topic-container {
    width: 100%;
}

.add-order-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 700px;
}

.add-order-container th {
    padding: 12px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #333333;
}

.add-order-container th:nth-child(1) {
    width: 20px;
    text-align: center;
}

.add-order-container th:nth-child(3) {
    width: 100px;
}

.add-order-container th:nth-child(4) {
    width: 100px;
}

.add-order-container th:nth-child(5) {
    width: 140px;
}

.add-order-container th:nth-child(6) {
    width: 180px;
}

.add-order-container th:nth-child(7) {
    width: 70px;
}

.add-order-container td:nth-child(1) {
    text-align: center;
}

.add-order-container td {
    padding: 8px;
    padding-left: 12px;
    border: 1px solid #DDDDDD;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #404040;
}

.add-order-container td:nth-child(2) {
    text-transform: capitalize;
}

.add-order-container table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.add-order-container table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.add-order-container td .options {
    display: flex;
    justify-content: left;
}

.add-order-container td .options button {
    width: 100px;
    height: 40px;
    background: #F1F1F5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #696974;
    cursor: pointer;
}

.add-order-container td .options img:nth-child(1) {
    margin-right: 17px;
}

.add-order-container td .options img:nth-child(2) {
    margin-right: 17px;
}


.add-order-container td .options img {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-container .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
}

.form-container .heading .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-container .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.form-container .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-order-container svg {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.add-order-container .editIconCircle {
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-order-container .editIconCircle:hover {
    background-color: rgba(0, 0, 255, 0.125);
}

.add-order-container .deleteIconCircle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-order-container .deleteIconCircle:hover {
    background-color: rgba(255, 0, 0, 0.125);
}

.add-order-container input {
    font-size: 14px !important;
}

.add-order-container .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}