.add-role-container {
    height: 100%;
    overflow: scroll;
}

.add-role-container .add-topic-form-container {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding: 24px;
}

.add-role-container .add-topic-form-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}

.add-role-container .add-topic-form-container .heading .title {
    display: flex;
}

.add-role-container .add-topic-form-container .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.add-role-container .add-topic-form-container .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-role-container .add-topic-form-container .sub-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
}

.add-role-container .add-topic-form-container .form {
    display: flex;
}

.add-role-container .add-topic-form-container .form input {
    width: 250px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    margin-right: 8px;
    padding: 0px 10px;
}

.add-role-container .add-topic-form-container .form button {
    width: 45px;
    height: 45px;
    background: #00C49A;
    border-radius: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-role-container .list-topic {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
}

.add-role-container .list-topic .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-role-container .list-topic .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.add-role-container .list-topic .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-role-container::-webkit-scrollbar {
    display: none;
}


.add-role-container .list-topic .topic-container {
    width: 100%;
}

.add-role-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #FFFFFF;
    border-radius: 20px;
}

.add-role-container th {
    padding: 12px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #333333;
}

.add-role-container th:nth-child(1) {
    width: 20px;
    text-align: center;
}

.add-role-container th:nth-child(3) {
    width: 50%
}

.add-role-container th:nth-child(4) {
    width: 120px;
}

.add-role-container td {
    padding: 8px;
    padding-left: 12px;
    border: 1px solid #DDDDDD;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #404040;
}

.add-role-container td:nth-child(1) {
    text-align: center;
}

.add-role-container td:nth-child(2) {
   text-transform: capitalize;
}

.add-role-container table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.add-role-container table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.add-role-container td .options {
    display: flex;
    justify-content: left;
}

.add-role-container td .options button {
    width: 100px;
    height: 40px;
    background: #F1F1F5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #696974;
    cursor: pointer;
}

.add-role-container td .assign-skills {
    display: flex;
    justify-content: left;
}

.add-role-container td .assign-skills button {
    width: 80px;
    height: 30px;
    background: #00C49A;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.add-role-container td .skills {
    display: flex;
    justify-content: center;
}

.add-role-container td .skills img {
    margin-right: 10px;
}

.add-role-container td .skills span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #827C7C;
}

.add-role-container .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.add-role-container .options img {
    height: 15px;
    width: 15px;
    display: block;
}

.add-role-container .edit {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-role-container .edit:hover {
    background-color: rgba(0, 0, 255, 0.125);
}

.add-role-container .delete {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-role-container .delete:hover {
    background-color: rgba(255, 0, 0, 0.125);
}

.add-role-container .view {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-role-container .view:hover {
    background-color: rgba(0, 0, 0, 0.125);
}