.dashboard-container {
    display: flex;
    background-color: #FFF7F4;
}

.dashboard-container .rightside-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: calc(100vw - 340px);
    border-radius: 16px;
    padding: 30px;
    padding-bottom: 0px;
}