.add-department-container h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    color: #504E4E;
}

.add-department-container .add-topic-form-container {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding: 24px;
}

.add-department-container .add-topic-form-container .heading {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 1px;
}

.add-department-container .add-topic-form-container .heading .title {
    display: flex;
    margin-right: 30px;
    min-width: 200px;
}

.add-department-container .add-topic-form-container .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.add-department-container .add-topic-form-container .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-department-container .add-topic-form-container .sub-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
}

.add-department-container .add-topic-form-container .form {
    display: flex;
}

.add-department-container .add-topic-form-container .form input {
    width: 250px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 6px;
    margin-right: 8px;
    padding: 20px;
}

.add-department-container .add-topic-form-container .form button {
    width: 100px;
    height: 42px;
    background: #00C49A;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 20px;
}

.add-department-container .add-topic-form-container .form button:nth-child(3) {
    margin-left: 10px;
    background: #FF6812;
}

.add-department-container .list-topic {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
}

.add-department-container .list-topic .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-department-container .list-topic .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.add-department-container .list-topic .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-department-container::-webkit-scrollbar {
    display: none;
}


.add-department-container .list-topic .topic-container {
    width: 100%;
}

.add-department-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #FFFFFF;
    border-radius: 20px;
}

.add-department-container th {
    padding: 12px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #333333;
}

.add-department-container th:nth-child(1) {
    width: 20px;
    text-align: center;
}

.add-department-container td {
    padding: 8px;
    padding-left: 12px;
    border: 1px solid #DDDDDD;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #404040;
    text-transform: capitalize;
}

.add-department-container td:nth-child(1) {
    text-align: center;
}

.add-department-container th:nth-child(3) {
    width: 70px;
}

.add-department-container table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.add-department-container table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.add-department-container td .options {
    display: flex;
    justify-content: left;
}

.add-department-container td .options button {
    width: 100px;
    height: 40px;
    background: #F1F1F5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #696974;
    cursor: pointer;
}

.add-department-container td .options img:nth-child(1) {
    margin-right: 17px;
}

.add-department-container td .options img:nth-child(2) {
    margin-right: 17px;
}

.add-department-container td .options img {
    cursor: pointer;
}

.add-department-container td .assign-skills {
    display: flex;
    justify-content: left;
}

.add-department-container td .assign-skills button {
    width: 100px;
    height: 40px;
    background: #00C49A;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.add-department-container td .skills {
    display: flex;
    justify-content: center;
}

.add-department-container td .skills img {
    margin-right: 10px;
}

.add-department-container td .skills span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #827C7C;
}

.add-department-container .edit-container {
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 15%;
    left: 40%;
    z-index: 1;
    width: 588px;
    height: auto;
    background: #FCFCFC;
    box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.add-department-container .edit-container::-webkit-scrollbar {
    display: none;
}

.add-department-container .edit-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    margin-bottom: 11px;
}

.add-department-container .edit-container .left-side {
    display: flex;
}

.add-department-container .edit-container .left-side .sidebar {
    width: 16px;
    height: 32px;
    background: #00C49A;
    border-radius: 4px;
    margin-right: 16px;
}

.add-department-container .edit-container .heading .left-side span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-department-container .edit-container .heading img {
    cursor: pointer;
}

.add-department-container .edit-container .form {
    margin-left: 57px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
}

.add-department-container .edit-container .form span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
    margin-bottom: 20px;
}

.add-department-container .edit-container .form input {
    width: 250px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
}

.add-department-container .edit-container .form .search {
    width: 90%;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
}


.add-department-container .edit-container .btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.add-department-container .edit-container .btn-container button {
    width: 100px;
    height: 40px;
    background: #00C49A;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-department-container .edit-container .form .search-skill-container {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 90%;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F1F1F5;
    border-radius: 10px;
}

.add-department-container .edit-container .form .search-skill-container span {
    cursor: pointer;
}

.add-department-container .edit-container .form .search-skill-container::-webkit-scrollbar {
    display: none;
}

.add-department-container .edit-container .form .skill-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.add-department-container .edit-container .form .skill-container .button {
    margin-top: 10px;
    padding: 10px;
    min-width: 135px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CEE1EC;
    border-radius: 24px;
    margin-right: 18px;
    cursor: pointer;
}

.add-department-container .edit-container .form .skill-container .button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #1B2126;
}

.add-department-container svg {
    width: 15px;
    height: 15px;
}

.add-department-container .editIconCircle {
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-department-container .editIconCircle:hover {
    background-color: rgba(0, 0, 255, 0.125);
}

.add-department-container .deleteIconCircle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-department-container .deleteIconCircle:hover {
    background-color: rgba(255, 0, 0, 0.125);
}

.add-department-container .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}