.sidebar-container {
    height: calc(100vh - 80px);
    width: 340px;
    border-top: none;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.sidebar-container .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100%;
    overflow: scroll;
}

.sidebar-container .button-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar-container .button-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar-container .button-container .active-button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 48px;
    background: #fee9e1;
    border-radius: 12px;
    cursor: pointer;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.sidebar-container .button-container .active-button svg {
    margin-left: 22px;
    margin-right: 18px;
}

.sidebar-container .button-container .active-button span {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1a1d1f;
}

.sidebar-container .button-container .button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-container .button-container .button svg {
    margin-left: 22px;
    margin-right: 18px;
}

.sidebar-container .button-container .button span {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #6f767e;
}

.sidebar-container .button-container .collapse {
    display: flex;
    flex-direction: column;
}

.sidebar-container .button-container .collapse span {
    /* margin-left: 65px; */
    margin-top: 24px;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #6f767e;
}

.sidebar-container .button-container .collapse span:nth-child(1) {
    margin-top: 11px;
}

.navbarLine {
    display: flex;
    width: 100%;
    gap: 15px;
}