.list-staff {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
}

.list-staff .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.list-staff .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.list-staff .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-role-container::-webkit-scrollbar {
    display: none;
}


.list-staff .topic-container {
    width: 100%;
}

.list-staff table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #FFFFFF;
    border-radius: 20px;
}

.list-staff th {
    padding: 12px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #333333;
}

.list-staff th:nth-child(1) {
    width: 20px;
    text-align: center;
}

.list-staff th:nth-child(3) {
    width: 250px;
 }

.list-staff th:nth-child(4) {
    width: 130px;
 }

.list-staff th:nth-child(5) {
   width: 130px;
}

.list-staff td {
    padding: 12px;
    border: 1px solid #DDDDDD;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #404040;
}

.list-staff td:nth-child(1) {
    text-align: center;
}

.list-staff table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.list-staff table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.list-staff .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}