.right-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: calc(100vh - 80px);
    width: 100%;
    overflow: scroll;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.right-dashboard-container .top-card-container {
    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 40px;
}

.right-dashboard-container .top-card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 302px;
    height: 155px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding-top: 27px;
    padding-left: 25px;
    padding-bottom: 30px;
    margin-right: 30px;
    background-color: #FFFFFF;
}

.right-dashboard-container .top-card-container .card .content-one {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #171725;
    margin-bottom: 14px;
}

.right-dashboard-container .top-card-container .card .content-two {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.116667px;
    color: #171725;
    margin-bottom: 8px;
}

.right-dashboard-container .top-card-container .card .content-three {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #696974;
}

.right-dashboard-container .bottom-cards-container {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container {
    width: 634px;
    height: 513px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    margin-right: 64px;
    padding: 26px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .heading {
    height: 60px;
    width: 100%;
    display: flex;
    padding-top: 5px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EFEFEF;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .sub-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .add-todo-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .add-todo-container input {
    width: 440px;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #A19898;
    border: 1.2px solid #DDDDDD;
    border-radius: 9px;
    padding-left: 28px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .add-todo-container button {
    width: 42px;
    height: 42px;
    background: #00C49A;
    border-radius: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .todo-container {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .todo-container .todo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .todo-container .todo input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #FCFCFC;
    border: 2px solid rgba(111, 118, 126, 0.4);
    border-radius: 6px;
    margin-right: 12px;
    accent-color: #FF6812;
    color: #FFFFFF;
}


.right-dashboard-container .bottom-cards-container .todo-list-container .todo-container .todo input[type="checkbox"]:checked {
    background-color: #FF6812;
    border: 2px solid #FF6812;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .todo-container .todo input[type=checkbox]:checked:after,
input[type=checkbox]:checked::after {
    content: "\2714";
    padding: 5px;
    font-weight: bold;
}




.right-dashboard-container .bottom-cards-container .todo-list-container .todo-container .todo span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #4D4F51
}



.right-dashboard-container .bottom-cards-container .todo-list-container .completed-todo-container {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .completed-todo-container .todo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .completed-todo-container .todo input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #FCFCFC;
    border: 2px solid rgba(111, 118, 126, 0.4);
    border-radius: 6px;
    margin-right: 12px;
    accent-color: #FF6812;
    color: #FFFFFF;
}


.right-dashboard-container .bottom-cards-container .todo-list-container .completed-todo-container .todo input[type="checkbox"]:checked {
    background-color: #FF6812;
    border: 2px solid #FF6812;
}

.right-dashboard-container .bottom-cards-container .todo-list-container .completed-todo-container .todo input[type=checkbox]:checked:after,
input[type=checkbox]:checked::after {
    content: "\2714";
    padding: 5px;
    font-weight: bold;
}




.right-dashboard-container .bottom-cards-container .todo-list-container .completed-todo-container .todo span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #4D4F51;
    text-decoration: line-through
}



.right-dashboard-container .bottom-cards-container .calender-container {
    width: 250px;
    height: 250px;
}

/* hide scroll bars */
.right-dashboard-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-dashboard-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

/* React Calender */
.react-calendar {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    padding: 10px;
}

.react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
}

.react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}

.react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
}

.react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
}

.react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: white;
}

.react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
}