.list-clients {
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    margin-bottom: 24px;
}

.list-clients::-webkit-scrollbar {
    display: none;
}

.list-clients .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
    background: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.list-clients .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.list-clients .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}



.list-clients .staff-container {
    width: 100%;
}

.list-clients .staff-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.list-clients .staff-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.list-clients table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #ffffff;
    border-radius: 20px;
}

.list-clients th {
    padding: 12px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #333333;
}

.list-clients th:nth-child(1) {
    width: 20px;
    text-align: center;
}

.list-clients th:nth-child(4) {
    width: 130px;
}

.list-clients th:nth-child(5) {
    width: 170px;
}

.list-clients td {
    padding: 8px;
    padding-left: 12px;
    border: 1px solid #DDDDDD;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #404040;
}

.list-clients td:nth-child(1) {
    text-align: center;
}

.list-clients table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.list-clients table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.list-clients td .options {
    display: flex;
    justify-content: left;
}

.list-clients td .options button {
    width: 100px;
    height: 40px;
    background: #F1F1F5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #696974;
    cursor: pointer;
}

.list-clients td .options img {
    margin-left: 17px;
    cursor: pointer;
}


/* popup */
.list-clients .view-client-container {
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 1;
    width: 848px;
    height: 631px;
    background: #FCFCFC;
    box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    overflow: scroll;
}

.list-clients .view-client-container::-webkit-scrollbar {
    display: none;
}

.list-clients .view-client-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    margin-bottom: 11px;
}

.list-clients .view-client-container .left-side {
    display: flex;
}

.list-clients .view-client-container .left-side .sidebar {
    width: 16px;
    height: 32px;
    background: #00C49A;
    border-radius: 4px;
    margin-right: 16px;
}

.list-clients .view-client-containerr .heading .left-side span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.list-clients .view-client-container .heading img {
    cursor: pointer;
}

.list-clients .view-client-container .client-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-clients .view-client-container .client-data-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.list-clients .view-client-container .client-data-container .input .data {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 203px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    margin-bottom: 30px;
}

.list-clients .view-client-container .client-data-container .input .data-address {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 309px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
}

.list-clients .view-client-container .client-data-container .input .data-address span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #4F4646;
}

.list-clients .view-client-container .client-data-container .input .data span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #4F4646;
}

.list-clients .view-client-container .client-data-container .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
}

.list-clients .view-client-container .tan-gst-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 35px;
}

.list-clients .view-client-container .tan-gst-container span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
    margin-right: 20px;
}

.list-clients .view-client-container .contact-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #565B61;
    margin-left: 20px;
}

.list-clients .view-client-container .contact-person-container {
    margin-top: 26px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 20px;
}

.list-clients .view-client-container .contact-person-container .contact-person-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 168px;
    height: 174px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    padding: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.list-clients .view-client-container .contact-person-container .contact-person-card img {
    width: 44px;
    height: 44px;
}

.list-clients .view-client-container .contact-person-container .contact-person-card .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.list-clients .view-client-container .contact-person-container .contact-person-card span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #9A9FA5;
}