.edit-role-popup {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-role-popup .edit-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;
    width: 600px;
}


/* Heading Start */
.edit-role-popup .edit-container .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #EFEFEF;
}

.edit-role-popup .edit-container .heading .left-side {
    display: flex;
    align-items: center;
}

.edit-role-popup .edit-container .heading .sidebar {
    background: #00c49a;
    border-radius: 4px;
    height: 32px;
    margin-right: 16px;
    width: 16px;
}

.edit-role-popup .edit-container .heading .left-side span {
    color: #1a1d1f;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 32px;
}

.edit-role-popup .edit-container .heading .button-container {
    display: flex;
}

.edit-role-popup .edit-container .heading button {
    width: 100px;
    height: 40px;
    background: #00C49A;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 30px;
}

.edit-role-popup .edit-container .heading img {
    cursor: pointer;
}
/* Heading End */

/* Form Start */
.edit-role-popup .form {
    margin-top: 20px;
}

.edit-role-popup .form .input-container {
    display: flex;
    flex-direction: column;
}

.edit-role-popup .form .input-container label {
    color: #6f767e;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.015em;
}

.edit-role-popup .form .input-container input {
    height: 45px;
    border: 1.2px solid #ddd;
    width: 300px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 5px;
}
/* Form End */

/* Skill container started */
.edit-role-popup .skill-container {
    max-height: 150px;
    background: #f1f1f5;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 16px;
    overflow: auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 14px;
    padding-bottom: 0px;
}

.edit-role-popup .skill-container span {
    margin-bottom: 10px;
    cursor: pointer;
    color: #333333;
}

.edit-role-popup .skill-container::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
}

.edit-role-popup .skill-container::-webkit-scrollbar-track {
    background: transparent;
}
/* Skill container ended */

/* Tag container started */
.edit-role-popup .tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.edit-role-popup .tag-container .tag {
    border: 1px solid #cee1ec;
    border-radius: 24px;
    color: #1b2126;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-right: 10px;
    margin-bottom: 10px;
}

.edit-role-popup .tag-container .tag svg {
    margin-left: 13px;
    cursor: pointer;
}