.add-client-container {
    margin-left: 67px;
    height: auto;
    width: 100%;
    overflow: scroll;
}

.add-client-container h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    color: #504E4E;
}


.add-client-container .form-container {
    width: 100%;
    height: auto;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
    background-color: #FFFFFF;
}


.add-client-container .form-container .add-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-left: 49px;
    width: 186px;
    height: 128px;
    border: 1px dashed #AAAAAA;
    border-radius: 12px;
}

.add-client-container .form-container .add-logo img {
    width: 34px;
    height: 34px;
    margin-bottom: 7px;
}

.add-client-container .form-container .add-logo span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #837C7C;
}

.add-client-container .form-container .form {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 49px;
    margin-right: 49px;
}

.add-client-container .form-container .form2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 49px;
    margin-right: 49px;
}

.add-client-container .form-container .form2 textarea {
    margin-top: 12px;
    width: 550px;
    height: 182px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding: 30px;
    resize: none;
}

.add-client-container .form-container .form2 .input {
    display: flex;
    flex-direction: column;
}

.add-client-container .form-container .form2 .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.add-client-container .form-container .form2 .input input {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.add-client-container .form-container .form2 .gstn-container {
    display: flex;
    flex-direction: column;
}

.add-client-container .form-container .form .input {
    display: flex;
    flex-direction: column;
}

.add-client-container .form-container .form .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.add-client-container .form-container .form .input select {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/icons/expand_more.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.add-client-container .form-container .form .input input {
    margin-top: 12px;
    width: 269px;
    height: 60px;
    border: 1.2px solid #DDDDDD;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}




.add-client-container .form-container .buttons-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 49px;
    margin-bottom: 50px;
}

.add-client-container .form-container .buttons-container button:nth-child(1) {
    width: 139px;
    height: 49px;
    background: #FF6812;
    margin-right: 24px;
    border-radius: 9px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-client-container .form-container .buttons-container button:nth-child(2) {
    width: 139px;
    height: 49px;
    background: #00C49A;
    border-radius: 9px;
    color: #FFFFFF;
    cursor: pointer;
}




/* hide scroll bars */
.add-client-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.add-client-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}


/* client list container */

.list-client-container {
    margin-top: 57px;
    width: 100%;
    height: auto;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
}

.list-client-container .list-header {
    height: 46px;
    background: #F1F1F5;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 100px;
}

.list-client-container .list-header span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #B5B5BE;
}


.list-client-container .clients-list {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}


.list-client-container .clients-list span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #696974;

}

.list-client-container .clients-list .edit-delete-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-client-container .clients-list .edit-delete-option button {
    width: 87px;
    height: 38px;
    background: #F1F1F5;
    border-radius: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.list-client-container .clients-list .edit-delete-option img {
    cursor: pointer;
}

input[type="text"] {
    font-size: 15px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #757575;
}

textarea {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}