.navbar-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #DDDDDD;
}

.navbar-container .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container .logo-container img {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.navbar-container .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container .profile-container img:nth-child(1) {
    margin-right: 17px;
}

.navbar-container .profile-container img {
    cursor: pointer;
}