.list-orders {
    display: flex;
    flex-direction: column;
    background: transparent;
    margin-top: 47px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 20px;
    margin-left: 81px;
}

.list-orders .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
    background: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.list-orders .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.list-orders .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}


.list-orders .staff-container {
    width: 100%;
    height: calc(100vh - 220px);
    overflow: scroll;
}

.list-orders .staff-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.list-orders .staff-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


.list-orders table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #ffffff;
    border-radius: 20px;
}

.list-orders th {
    padding: 20px;
    height: 30px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #B5B5BE;
}

.list-orders td {
    padding: 20px;
    border: 1px solid #DDDDDD;
    height: 30px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #696974;
}

.list-orders table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.list-orders table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.list-orders td .options {
    display: flex;
    justify-content: left;
}

.list-orders td .options button {
    width: 100px;
    height: 40px;
    background: #F1F1F5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #696974;
    cursor: pointer;
}

.list-orders td .options img:nth-child(1) {
    margin-right: 17px;
}

.list-orders td .options img:nth-child(2) {
    margin-right: 17px;
}


.list-orders td .options img {
    cursor: pointer;
}

/* popup */
.list-orders .view-client-container {
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 15%;
    left: 32%;
    z-index: 1;
    width: 848px;
    height: 530px;
    background: #FCFCFC;
    box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    overflow: scroll;
}

.list-orders .view-client-container::-webkit-scrollbar {
    display: none;
}

.list-orders .view-client-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    margin-bottom: 11px;
}

.list-orders .view-client-container .left-side {
    display: flex;
}

.list-orders .view-client-container .left-side .sidebar {
    width: 16px;
    height: 32px;
    background: #00C49A;
    border-radius: 4px;
    margin-right: 16px;
}

.list-orders .view-client-containerr .heading .left-side span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.list-orders .view-client-container .heading img {
    cursor: pointer;
}

.list-orders .view-client-container .client-data-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-orders .view-client-container .client-data-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.list-orders .view-client-container .client-data-container .input .data {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 203px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    margin-bottom: 30px;
}

.list-orders .view-client-container .client-data-container .input .data-address {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 309px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
}

.list-orders .view-client-container .client-data-container .input .data-address span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #4F4646;
}

.list-orders .view-client-container .client-data-container .input .data span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #4F4646;
}

.list-orders .view-client-container .client-data-container .input span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
}

.list-orders .view-client-container .tan-gst-container {
    display: flex;
    margin-bottom: 35px;
}

.list-orders .view-client-container .tan-gst-container span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
    margin-right: 20px;
}

.list-orders .view-client-container .tan-gst-container span .gst {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-right: 20px;
}