.view-role-popup {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-role-popup .view-container {
    background-color: #fff;
    padding: 24px;
    border-radius: 10px;
    width: 600px;
}

.view-role-popup .heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #EFEFEF;
}

.view-role-popup .heading .left-side {
    display: flex;
    align-items: center;
}

.view-role-popup .heading .sidebar {
    background: #00c49a;
    border-radius: 4px;
    height: 32px;
    margin-right: 16px;
    width: 16px;
}

.view-role-popup .heading .left-side span {
    color: #1a1d1f;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 32px;
}

.view-role-popup .heading img {
    cursor: pointer;
}

.view-role-popup .view-container .form-container {
   margin-top: 24px;
}

.view-role-popup .view-container .form-container label {
    color: #6f767e;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.015em;
}

.view-role-popup .view-container .role-container {
    border: 1.2px solid #ddd;
    border-radius: 6px;
    height: 45px;
    padding: 0px 10px;
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 3px;
    color: #333333;
}

.view-role-popup .view-container .tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
}

.view-role-popup .view-container .tag-container .tag {
    border: 1px solid #dcdcdc;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-transform: capitalize;
    color: #1b2126;
}