@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 10px;
}

* {
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1024px) {

  html,
  body {
    font-size: 9px;
  }
}

@media screen and (max-width: 800px) {

  html,
  body {
    font-size: 8px;
  }
}