.add-topic-container {
    margin-left: 81px;
    height: 100%;
    overflow: scroll;
}

.add-topic-container h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    color: #504E4E;
}

.add-topic-container .add-topic-form-container {
    width: 407px;
    height: 267px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding: 24px;
}

.add-topic-container .add-topic-form-container .heading {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    margin-bottom: 11px;
}

.add-topic-container .add-topic-form-container .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.add-topic-container .add-topic-form-container .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-topic-container .add-topic-form-container .sub-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
}

.add-topic-container .add-topic-form-container .form {
    margin-top: 33px;
    display: flex;
}

.add-topic-container .add-topic-form-container .form input {
    width: 250px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    margin-right: 8px;
    padding: 20px;
}

.add-topic-container .add-topic-form-container .form button {
    width: 42px;
    height: 42px;
    background: #00C49A;
    border-radius: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-topic-container .list-topic {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.add-topic-container .list-topic .heading {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    padding-left: 24px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-topic-container .list-topic .heading .sidebar {
    width: 16px;
    height: 32px;
    background: #FFBC99;
    border-radius: 4px;
    margin-right: 16px;
}

.add-topic-container .list-topic .heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-topic-container::-webkit-scrollbar {
    display: none;
}


.add-topic-container .list-topic .topic-container {
    width: 100%;
}

.add-topic-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #FFFFFF;
    border-radius: 20px;
}

.add-topic-container th {
    padding: 20px;
    height: 30px;
    border: 1px solid #DDDDDD;
    background: #F1F1F5;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #B5B5BE;
}

.add-topic-container td {
    padding: 20px;
    border: 1px solid #DDDDDD;
    height: 30px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #696974;
}

.add-topic-container table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}


.add-topic-container table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.add-topic-container td .options {
    display: flex;
    justify-content: left;
}

.add-topic-container td .options button {
    width: 100px;
    height: 40px;
    background: #F1F1F5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #696974;
    cursor: pointer;
}

.add-topic-container td .options img:nth-child(1) {
    margin-right: 17px;
}

.add-topic-container td .options img:nth-child(2) {
    margin-right: 17px;
}

.add-topic-container td .options img {
    cursor: pointer;
}

.add-topic-container .edit-container {
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 1;
    width: 588px;
    height: 301px;
    background: #FCFCFC;
    box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.add-topic-container .edit-container .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EFEFEF;
    border-radius: 1px;
    margin-bottom: 11px;
}

.add-topic-container .edit-container .left-side {
    display: flex;
}

.add-topic-container .edit-container .left-side .sidebar {
    width: 16px;
    height: 32px;
    background: #00C49A;
    border-radius: 4px;
    margin-right: 16px;
}

.add-topic-container .edit-container .heading .left-side span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #1A1D1F;
}

.add-topic-container .edit-container .heading img {
    cursor: pointer;
}

.add-topic-container .edit-container .form {
    margin-left: 57px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
}

.add-topic-container .edit-container .form span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #6F767E;
    margin-bottom: 20px;
}

.add-topic-container .edit-container .form input {
    width: 250px;
    height: 45px;
    border: 1.2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
}

.add-topic-container .edit-container .btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.add-topic-container .edit-container .btn-container button {
    width: 100px;
    height: 40px;
    background: #00C49A;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
}